[submodule "shiny_py_genedetector"]
	path = shiny_py_genedetector
	url = git@github.com:joanadopp/shiny_py_genedetector.git

[submodule "shiny_R_genedetector"]
	path = gene_detector
	url = git@github.com:joanadopp/shiny_R_genedetector.git
